<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Lista de Productos</h1>

    {{#if products.length}}
        <ul>
            {{#each products}}
                <li><strong>{{name}}</strong> - Nombre {{title}}</li>
                <li><strong>{{name}}</strong> - Descripción {{description}}</li>
                <li><strong>{{name}}</strong> - ${{price}}</li>
                <br>

            {{/each}}
        </ul>
    {{else}}
        <p>No hay productos disponibles.</p>
    {{/if}}

    <a href="/realtimeproducts">Ver productos en tiempo real</a>
</body>
</html>
